article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	--color-text: #000;
	--color-text-alt: #9900e0;
	--color-bg: #fff;
	--color-link: #9900e0;
	--color-link-hover: #000;
	--color-link-alt: #f4044fff;
	--color-link-toc: #878787;
	font-family: Futura, "futura-pt", Arial, sans-serif;
	min-height: 100vh;
	color: #57585c;
	color: var(--color-text);
	background-color: #fff;
	background-color: var(--color-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 0.875rem;
}

/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}


a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
}

button:focus,
a:focus {
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

.message {
	background: #000;
	color: #fbaf5d;
	padding: 0.5rem;
	margin: 0;
	text-align: center;
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

.codrops-header {
	padding: 2rem;
}

.codrops-header__title {
	font-size: inherit;
	font-weight: normal;
}

.codrops-header__links a {
	text-transform: lowercase;
	display: inline-block;
	margin: 0 0.75rem 0 0;
}

.arrow-nav,
.nav {
	display: none;
}

.slide__figure-title {
	font-weight: normal;
	margin: 0.5rem 0 0 0;
	font-size: inherit;
}

.slide__figure-title::before {
	content: '\2015';
	display: inline-block;
	margin: 0 0.5rem 0 0;
}

.slide__figure-description {
	margin: 0;
	font-style: italic;
	color: var(--color-text-alt);
}

.slide__figure {
	position: relative;
	display: flex;
	height: 550px;
	width: 100%;
	max-width: 100%;
	margin: 0 auto 2rem auto;
	flex-direction: column;
}

.slide__figure-inner {
	position: relative;
	flex: 1;
}

.slide__figure-img {
	position: relative;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
}

.slide__number {
	display: none;
}

@media screen and (min-width: 53em) {
	.message {
		display: none;
	}
	body {
		overflow: hidden;
	}
	.codrops-header {
		padding: 0;
		position: absolute;
		top: 1rem;
		right: calc(1rem + 10px);
		z-index: 4000;
	}
	.codrops-header__title {
		display: inline;
	}
	.codrops-header__links {
		display: inline;
	}
	.codrops-header__links a {
		margin: 0 0 0 0.75rem;
	}
	.slideshow {
		width: 100vw;
		height: 100vh;
		position: relative;
	}
	.slideshow__indicator {
		width: 15px;
		background: #f4044fff;
		height: 100%;
		left: 0;
		top: 0;
		position: absolute;
		z-index: 100;
		transform-origin: 0% 50%;
		z-index: 6000;
	}
	.slideshow__indicator:last-child {
		left: auto;
		right: 0;
		transform-origin: 100% 100%;
	}
	.slide__txt {
		position: absolute;
		top: 0;
		left: 0;
		display: grid;
		grid-area: 2 / 10 / 3 / 2;
		padding: 4vh calc(3vw + 1px);
		--gridgap: 1vw;
		--gridwidth: 100%;
		--gridheight: 100%;
		display: grid;
		width: var(--gridwidth);
		height: var(--gridheight);
		grid-template-rows: repeat(20,calc(var(--gridheight) / 20 - var(--gridgap)));
		grid-template-columns: repeat(2,calc(var(--gridwidth) / 2 - var(--gridgap)));
		grid-gap: var(--gridgap);
		align-content: center;
		justify-content: center;
		background-color: #fff;
	}

	.slide {
		position: absolute;
		top: 0;
		left: 0;
		pointer-events: none;
		display: grid;
		grid-area: 2 / 1 / 3 / 2;
		padding: 4vh calc(3vw + 1px);
		--gridgap: 1vw;
		--gridwidth: 100%;
		--gridheight: 100%;
		display: grid;
		width: var(--gridwidth);
		height: var(--gridheight);
		grid-template-rows: repeat(20,calc(var(--gridheight) / 20 - var(--gridgap)));
		grid-template-columns: repeat(20,calc(var(--gridwidth) / 20 - var(--gridgap)));
		grid-gap: var(--gridgap);
		align-content: center;
		justify-content: center;
		background-color: #fff;
	}
	.slide--layout-1 .slide__figure:first-child {grid-area: 2 / 1 / 25 / 10;}
	.slide--layout-1 .slide__figure:nth-child(2) {grid-area: 2 / 12 / 25 / 21;}
	.slide--layout-2 .slide__figure:first-child {grid-area: 2 / 1 / 25 / 10;}
	.slide--layout-2 .slide__figure:nth-child(2) {grid-area: 2 / 12 / 25 / 21;}
	.slide--layout-3 .slide__figure:first-child {grid-area: 2 / 1 / 25 / 10;}
	.slide--layout-3 .slide__figure:nth-child(2) {grid-area: 2 / 12 / 25 / 21;}
	.slide--layout-4 .slide__figure:first-child {grid-area: 2 / 1 / 25 / 10;}
	.slide--layout-4 .slide__figure:nth-child(2) {grid-area: 2 / 12 / 25 / 21;}
	.slide--layout-5 .slide__figure:first-child {grid-area:2 / 1 / 25 / 10;}
	.slide--layout-5 .slide__figure:nth-child(2) {grid-area: 2 / 12 / 25 / 21;}
	.slide--current {
		pointer-events: auto;
		z-index: 100;
	}
	.slide__figure {
		width: auto;
		height: auto;
		max-width: none;
		margin: 0;
		will-change: transform;
		perspective: 1000px;
	}
	.slide__figure-inner {
		overflow: hidden;
		transform: rotate3d(0,1,0,0.1deg);
		will-change: transform;
	}
	.slide__figure-img {
		z-index: 10;
		opacity: 1;
		will-change: transform;
	}
	.slide__figure-reveal {
		position: absolute;
		top: -1px;
		left: -1px;
		width: calc(100% + 2px);
		height: calc(100% + 2px);
		background: #fff;
		z-index: 20;
		will-change: transform;
	}
	.js .slide__figure-reveal {
		transform: translate3d(0,0,0);
	}
	.js .slide--current .slide__figure-reveal {
		transform: translate3d(100%,0,0);
	}
	.js .slide__figure-title {
		opacity: 0;
	}
	.js .slide--current .slide__figure-title {
		opacity: 1;
	}
	.js .slide__figure-description {
		opacity: 0;
	}
	.js .slide--current .slide__figure-description {
		opacity: 1;
	}
	.slide__deco {
		position: absolute;
		font-size: 10vw;
		font-weight: bold;
		line-height: 1;
		overflow: hidden;
		perspective: 1000px;
		will-change: transform;
	}
	.slide__deco-inner {
		position: relative;
		display: block;
		will-change: transform;
		transform: rotate3d(0,1,0,0.1deg);
	}
	.slide__deco--2 .slide__deco-inner {
		left: -50%;
	}
	.slide__deco--3 .slide__deco-inner {
		right: -50%;
	}
	.slide__deco--1 {
		bottom: 10vh;
		left: -2.65vw;
	}
	.slide__deco--2 {
		left: 50%;
		top: 7vh;
		font-size: 17vw;
	}
	.slide__deco--3 {
		right: 0;
		bottom: 10vh;
		font-size: 17vw;
	}
	.slide__number {
		display: block;
		position: absolute;
		bottom: 1rem;
	}
	.slide__number--left {
		left: calc(1rem + 10px);
	}
	.slide__number--right {
		right: calc(1rem + 10px);
	}
	.revealer {
		position: absolute;
		width: 100%;
		height: 100%;
		pointer-events: none;
		top: 0;
		left: 0;
		display: flex;
		z-index: 5000;
	}
	.revealer__item {
		width: 50%;
		height: 100%;
		position: relative;
		overflow: hidden;
	}
	.revealer__item--left {
		border-right: 1px solid #f0f0f0;
	}
	.revealer__item-inner {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #fff;
		transform: translate3d(100%,0,0);
	}
	.nav {
		display: block;
		position: absolute;
		top: 1rem;
		left: calc(1rem + 10px);
		z-index: 4000;
	}
	.nav__button {
		border: 0;
		margin: 0 1rem 0.5rem 0;
		padding: 0;
		line-height: 1;
		background: none;
		color: var(--color-link-alt);
	}
	.nav__button:focus {
		outline: none;
	}
	.nav__button:hover {
		color: var(--color-link-hover);
	}
	.nav__button-text {
		position: relative;
		padding-right: 0.75rem;
		display: block;
	}
	.nav__button-text::after,
	.nav__button-text::before {
		content: '';
		position: absolute;
		height: 1px;
		top: 50%;
		width: 7px;
		right: 0;
		background: currentColor;
	}
	.nav__button-text::after {
		transition: opacity 0.2s, transform 0.2s;
	}
	.nav--open .nav__button-text::after {
		transform: rotate(90deg);
		opacity: 0;
	}
	.nav__button-text::before {
		transform: rotate(90deg);
		transition: transform 0.2s;
	}
	.nav--open .nav__button-text::before {
		transform: rotate(0deg);
	}
	.toc__item {
		pointer-events: none;
		opacity: 0;
		display: block;
		margin: 0.35rem 0;
		opacity: 0;
	}
	.nav--open .toc__item {
		pointer-events: auto;
	}
	.toc__item-page {
		display: inline-block;
		width: 1.5rem;
		pointer-events: none;
		color: var(--color-text-alt);
	}
	.toc__item-title {
		pointer-events: none;
		color: var(--color-link-toc);
	}
	.toc__item:hover .toc__item-title,
	.toc__item--current .toc__item-title {
		color: var(--color-link-hover);
	}
	.arrow-nav {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		pointer-events: none;
		display: flex;
		align-items: center;
		justify-content: space-between;
		z-index: 4000;
		padding: 1.25rem;
	}
	.arrow-nav__item {
		pointer-events: auto;
		border: 0;
		padding: 0;
		margin: 0;
		background: none;
		color: var(--color-link-alt);

	}
	.arrow-nav__item:hover {
		color: var(--color-link-hover);
	}
	.arrow-nav__item--prev {
		visibility: hidden;
	}
	.arrow-nav__item--prev .icon {
		transform: rotate(180deg);
	}
	.icon--nav {
		pointer-events: none;
		transition: transform 0.2s;
	}
	.arrow-nav__item--next:hover .icon--nav {
		transform: translate3d(-2px,0,0);
	}
	.arrow-nav__item--prev:hover .icon--nav {
		transform: rotate(180deg) translate3d(-2px,0,0);
	}
	.nav__chapter {
		font-size: inherit;
		font-weight: normal;
		margin: 0;
		display: inline-block;
		line-height: 1;
	}
}
